
:root {

  /* ── COLORS ─────────────────────────────── */

  /* Neutrals */
  --light-color:       #eee2d1;
  --light-opacity:  rgba(232, 228, 215, 50%);
  --dark-color:        #170d0d;
  --accent-color:      #4f2c18;
  --text-color:        rgb(232, 228, 215);
  --muted-color:       rgb(53, 38, 31);

  /* ── TYPOGRAPHY ─────────────────────────── */

  /*--font-sans:    'Inter', 'Helvetica Neue', Arial, sans-serif;*/
  --font-sans: 'Switzer-Black';
  --font-serif:   'Times New Roman', serif;
  --font-mono:    'JetBrains Mono', 'Fira Code', 'Courier New', monospace;

  --font-sm-text:   0.8rem; 
  --font-med-text:   1rem;  
  --font-large-text: 1.5rem;
  --font-subtitle: clamp(1.5rem, 2.5vw, 2rem);
  --font-title:   clamp(3rem, 4.5vw, 6.5rem);
 

  --font-weight-light:    300;

  --line-height-tight:   1.2;
  --letter-spacing-widest:  0.15em;
  --letter-spacing-med: 1px;

  --medium-spacing: 2rem;
  --text-width: 80%;
  --title-width: 90%;

  --container-lg: 1200px;
  --container-md: 900px;
  --container-sm: 600px;

  --margin-bottom-large: 3rem;
  --margin-bottom-medium: 2rem;
  --margin-bottom-small: 1rem;
  --text-padding: 1.5rem 0;
  --section-padding: 4rem 0; 
    
}

/*
  EFFECTS TO ADD: 
  1. DARK GRADIENT THAT SLIDES UP REVEALING PHOTOS
  3. FADE IN TEXT EFFECTS 
  Overlay on photos for smokier color
  Make it rain effect 
  Add photo after pricing to break up page. 
  Add google review section 
  disable paralax for mobile 
  correct the on-scroll effect: 

  4. GLOW ON HOVER FOR BUTTON EFFECT
  Flashlight button to reveal the photos 
  Add blinking glow to hero-button 
  Fix footer 


  */
/*-------------------------GLOBAL SETTINGS AND PAGE ANIMATIONS---------------------------------*/
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
html {
    font-size: 16px;
}
body {
    background-color: var(--dark-color);
    color: var(--light-color);
    line-height: 1.5;
}
.container {
  width: 90%;
  max-width: var(--container-lg);
  margin-inline: auto;
  padding: var(--section-padding);
}
.small-text {
    font-size: var(--font-sm-text);
}
.margin-btm-sm {
    margin-bottom: var(--margin-bottom-small);
}
.mg-btm-md {
    margin-bottom: var(--margin-bottom-medium);
}
.mg-btm-lg {
    margin-bottom: var(--margin-bottom-large);
}
.section {
    min-height: min-content;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.container {
    width: 90%;
    max-width: var(--container-lg);
    margin-inline: auto;
    padding: 7rem 0;
}
.underline {
    text-decoration: underline;
}
.large-text {
    font-size: var(--font-large-text);
}
.tit-pad {
    padding: var(--title-padding);
}
/*
.fade-up {
    animation: fade-up 2s linear forwards;
}
@keyframes fade-up {
    from {
        transform: translateY(0px);
        opacity: 0;
    }
    to { 
        transform: translateY(-50px);
        opacity: 1;
    }
}
    */
nav, footer, h1 {
  font-family:'Times New Roman', Times, serif;
}

header {
    position: sticky;
    top: 0;
    z-index: 1000;
}
 nav {
   height:160px;
   display: flex;
   align-items: center;
   background-color: var(--dark-color);
   justify-content: flex-end;
   background: rgba(0, 0, 0, 0.3); /* Semi-transparent background */
   backdrop-filter: blur(10px); /* Creates the blur effect */
   -webkit-backdrop-filter: blur(10px); /* Safari support */
   border-bottom: 1px solid rgba(255, 255, 255, 0.1); /* Optional: subtle border */
   font-weight: 300;
   padding: 0 30px;
     }
 
 .links-container {
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    margin: 0 auto;
 }

 nav a {
    height: 100%;
    padding: 30px;
    display: flex;
    align-items: center;
    text-decoration: none;
    color: var(--light-color);
 }

 nav a:hover{
    color: var(--accent-color);
 }

 nav .home-link {
    margin-right: auto;
 }

 nav svg{
    fill: var(--accent-color);
 }
.logo {
    color: var(--light-color);
    font-size: 40px;
    font-weight: 300;
    padding: 20px;
 }
 .logo-mobile {
    display: none;
}


/*SIDEBAR-ACTIVE is the label for the checkbox, display:none removes the checkbox from being shown*/
 #sidebar-active {
    display: none; 
 }
/*HIDES BURGER AND CLOSE ICON FROM SHOWING*/ 
 .open-sidebar-button, .close-sidebar-button {
    display: none;
 }

 @media(max-width: 580px) {
    .links-container {
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;
        position: fixed;
        top: 0;
        right:-100%; /*Instead of display:none; we position it 100% to the right so we can use an animation property. This MUST be paired with the checked ~ so the menu will return to right: 0 when checked*/ 
        z-index: 10;
        width: 150px;
        background-color: var(--accent-color);
        transition: 0.75s ease-out;
        height: 100vh;
    }
    nav a{
        box-sizing: border-box;
        height: auto;
        width: 100%;
        padding: 20px 30px;
        color: var(--dark-color);
        justify-content: flex-start;
    }
    .open-sidebar-button, .close-sidebar-button{
        display: block;
        padding: 20px;
    }
    #sidebar-active:checked ~ .links-container{
        right: 0;
    }
    .exit-svg {
        fill: var(--accent-color);
 }
 .logo {
   display: none;
 }
   .burger-svg {
      fill: var(--dark-color);
   }

 #sidebar-active:checked ~ #overlay{
    height: 100%;
    width: 100%;
    position: fixed;
    top:0;
    left:0;
    z-index: 9;
 }
 .logo-mobile {
   display: block;
   z-index:1001;
    color: black;
    font-size: 20px;
    font-weight: 200;
    position: absolute;
    left: 20%;
    top: 4%;
    transform: translateX(-50%);
}
}


/*-------------------------HERO SECTION ------------------------------------------------------------*/
.hero {
    min-height: 80vh;
    background-image: url("assets/photos/exotic-dancer.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.hero-cont {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: var(--text-color);
}

.hero-text {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 100%;
}
.location-text {
  letter-spacing: var(--letter-spacing-widest);
  text-transform: uppercase;
  font-size: var(--font-subtitle);
  font-family: 'Times New Roman', Times, serif ;
}
 .hero-headline {
    font-size: var(--font-title);
     font-weight: 400;
     margin-bottom: var(--margin-bottom-medium);
    }

.hero-subheadline {
    font-size: var(--font-subtitle);
    margin-bottom: var(--margin-bottom-medium);
    width: 80%;
    font-weight: 100;
    line-height: 1.3;
}
.hero-location {
    margin-bottom: var(--margin-bottom-medium);

}
button {
    width: 200px;
    height: 60px;
    background-color: var(--muted-color);
    color: var(--light-color);
    font-size: var(--font-med-text);
    letter-spacing: var(--letter-spacing-widest);
    border: solid 1px var(--light-color);
    padding: 12px;
}

a {
    text-decoration: none;
    color: var(--light-color)
}
a:hover {
    text-decoration: none;
    color: var(--dark-color);
}

.hero-b {
    width: 350px;
}
.buttons {
    font-size: 20px;
    display: flex;
    justify-content: center;
    gap: 2rem;
    background: rgba(0, 0, 0, 0.3); /* Semi-transparent background */
    backdrop-filter: blur(10px); /* Creates the blur effect */
   -webkit-backdrop-filter: blur(10px); /* Safari support */
}
.color-change {
    animation: color-change 6s linear infinite;

}
@keyframes color-change {s
  0%   {box-shadow: 0 0 1em var(--text-color), inset 0 0 1em var(--text-color);}
  25%  {box-shadow: 0 0 2em rgb(229, 234, 102), inset 0 0 2em var(--text-color);}
  50% {box-shadow: 0 0 3em rgb(255, 249, 253), inset 0 0 3em var(--text-color);}
  25%  {box-shadow: 0 0 2em rgb(209, 192, 177), inset 0 0 2em var(--text-color);}
}

.hero-buttons:hover {
    background-color: var(--text-color);
    color: var(--dark-color);
    box-shadow: 0 0 3em 0.5em var(--text-color);
}

@media screen and (max-width:800px) {
    .hero-subheadline {
        width: 100%;
    }
    
}
/*-------------------------CTA SECTION---------------------------------*/
.cta {
    color: var(--text-color);
}
.center-text-box {
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    align-items: center;
}

.cta-text {
    width: 90%;
    font-weight: 200;
}
.cta-text, .cta-subtitle, .cta-title {
    padding: var(--text-padding);
}
.list {
    text-align: left;
}
/*-------------------------PERFORMANCE GRID SECTION---------------------------------*/
.performance-grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto auto;
    gap: 40px;
}
.perf-grid-box {
    height: 400px;
    width: 300px;
    display: flex;
}
.perf-grid-box p {
    display: flex;
    align-items: end;
    text-align: center;
    justify-content: center;
    align-content: center;
}
.photo-one {
    background-image: url("assets/photos/Women\ in\ black\ lingerie\ sitting\ on\ bed.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100% auto;
}
.photo-two {
    background-image: url("assets/photos/Stripper\ in\ black\ lingerie\ laying\ down.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100% auto;
}
.photo-three {
    background-image: url("assets/photos/Women\ in\ black\ lingerie\ sitting\ on\ bed.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100% auto;
}
/*-------------------------OFFERS SECTION---------------------------------*/

.offers {
    background-color: var(--accent-color);
}
/*-------------------------ENVO BUBBLES SECTION---------------------------------*/

.envo-bubbles {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 20px;
}
.envo-bubble {
    height: 100px;
    background-color: rgb(200, 165, 141);

}
/*-------------------------PRICING SECTION---------------------------------*/
.pricing {
    background-image: url("assets/photos/leather-texture.png");
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
}
.pricing-title {
    font-size: var(--font-subtitle);
}
.pricing-subtitle {
    font-size: var(--font-med-text);
    margin-bottom: 3rem;
}

.pricing-description {
    font-size: 25px;
    line-height: 1.2;
}
.pricing-cards {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    margin-bottom: 2rem;
}
.pricing-card {
    width: 350px;
    padding: 1rem;
    background: rgba(54, 45, 32, 0.1); /* Semi-transparent background */
   backdrop-filter: blur(10px); /* Creates the blur effect */
   -webkit-backdrop-filter: blur(10px); /* Safari support */
   border: solid 0.5px var(--light-color);
    min-height: 500px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}


.pricing-card-title {
    letter-spacing: var(--letter-spacing-med);
    text-transform: uppercase;
}
.main-card {
    padding: 3rem 0;
    background-color: var(--main-color);
    color: var(--light-color);
    height: 100%;
}

.pricing-list {
    font-size: 1.2rem;
    text-align: left;
}
.list-none {
    list-style-type: none;
}
.opacity {
    color: var(--light-opacity);
}
.pricing-button {
    width: 200px;
    height: 50px;
    font-size: 1.3rem;
}
.add-on {
    margin: var(--margin-bottom-large);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.add-on-text {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-content: center;
    gap: 1rem;
}
@media screen and (max-width: 980px) {
    .pricing-cards{
     flex-direction: column;
}
.pricing-subtitle {
     padding-bottom: 0;
}
.pricing-cards {
    margin: 1rem;
}
.pricing-card {
    width: 80%;
    padding: 2rem;
    flex-direction: row;
    gap: 3rem;
}
}
@media screen and (max-width: 600px) {
    .pricing-card {
        flex-direction: column;
        gap: 2rem;
        width: 90%;
    }
    
}

/*---------------------PARTY RULES-------------------------------------*/

.party-rules {
    border: solid 1px var(--light-color);
    width: 80%;
    margin: auto;
}
.party-rule-text {
    padding: 2rem 4rem;
}
.text-padding {
    padding: var(--text-padding);
}
.party-subtitle {
    margin-bottom: var(--margin-bottom-medium);
}


/*-------------------------------PROCESS--------------------------------*/

.process-container {
    display: flex;
}
.process-card {
    width: 100%; 
    min-height: 40vh;
    display: flex;
    flex-direction: column; 
    justify-content: center;
    align-items: center;
    gap: 1rem;
}
.process-title {
    font-size: var(--font-subtitle);
}
.process-subtitle {
    font-weight: 200;
    text-align: center;
    color: var(--light-color);
}
.process-description {
    max-width: 80%;
    text-align: center;
    color: var(--light-color);
}

.bouncy-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    animation: bounce 1s linear;
}
@keyframes bounce {
    0% { transform: translateY(0); }
    50% { transform: translateY(-30px); }
    100% { transform: translateY(0); }
}

.bouncy-icon:hover {
    animation: bounce 1s linear ; 
}

@media screen and (max-width: 890px) {
    .process-card {
        min-height: 25vh;
    }
    .process-container {
    flex-direction: column;
    gap: 2rem;
}
}

@media screen and (max-width: 780px) { 
.process {
    flex-direction: column;
    padding: 1rem;
    gap: 2rem;
}
.feature-description {
    max-width: 70%;
 }
  
   .hero, .pricing  {
    background-attachment: scroll;
   }
}


/*------------------FAQ SECTION--------------------*/

.faq-title h2 {
  position: relative;
  margin-bottom: 45px;
  display: inline-block;
  font-weight: 600;
  line-height: 1;
  font-family: var(--font-sans);
}

.faq-title h2::before {
    content: "";
    position: absolute;
    left: 50%;
    width: 60px;
    height: 2px;
    background: var(--accent-color);
    bottom: -25px;
    margin-left: -30px;
}
.faq-title p {
  padding: 0 190px;
  margin-bottom: 10px;
}
.grid-test {
  display: grid;
  grid-template-columns: repeat(1, 1fr);

}

.faq {
  background: var(--light-color);
  box-shadow: 0 2px 48px 0 rgba(0, 0, 0, 0.06);
  border-radius: 4px;
  font-family: var(--font-sans);
}

.faq .card {
  border: none;
  background: none;
  border-bottom: 1px dashed var(--accent-color);
}

.faq .card .card-header {
  padding: 0px;
  border: none;
  background: none;
  -webkit-transition: all 0.3s ease 0s;
  -moz-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.faq .card .card-header:hover {
    background: var(--accent-color, 50%);
    padding-left: 10px;
}
.faq .card .card-header .faq-title {
  width: 100%;
  text-align: left;
  padding: 0px;
  padding-left: 30px;
  padding-right: 30px;
  font-weight: 400;
  letter-spacing: 1px;
  color: var(--dark-color);
  text-decoration: none !important;
  -webkit-transition: all 0.3s ease 0s;
  -moz-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  cursor: pointer;
  padding-top: 20px;
  padding-bottom: 20px;
}

.faq .card .card-header .faq-title .badge {
  display: inline-block;
  width: 20px;
  height: 20px;
  line-height: 14px;
  float: left;
  -webkit-border-radius: 100px;
  -moz-border-radius: 100px;
  border-radius: 100px;
  text-align: center;
  background: var(--accent-color);
  color: var(--text-color);
  font-size: var(--font-sm-text);
  margin-right: 20px;
}

.faq .card .card-body {
  padding: 30px;
  padding-left: 35px;
  padding-bottom: 16px;
  font-weight: 400;
  font-size: 16px;
  color: #050708;
  line-height: 28px;
  letter-spacing: 1px;
  border-top: 1px solid #F3F8FF;
}

.faq .card .card-body p {
  margin-bottom: 14px;
}

@media (max-width: 991px) {
  .faq {
    margin-bottom: 30px;
  }
  .faq .card .card-header .faq-title {
    line-height: 26px;
    margin-top: 10px;
  }

  /*--------------------------------------------- FLASHLIGHT / TEASE SECTION -----------------------------------------------/*/
}
.tease-title {
    text-align: center;
    margin: 0 auto;
    padding: var(--title-padding);
    font-family: 'Times New Roman', Times, serif;
    font-size: var(--font-subtitle);
    color: var(--dark-color);
    position: absolute;
    color: var(--accent-color);
    top: 250px;
    left: 700px;
}
#flashlight-section {
  position: relative;
  width: 100%;
  height: 60vh;
  background: url('assets/photos/Woman\ lying\ down\ with\ hand\ on\ stomach.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  overflow: hidden;
}
.tease-title {
    text-align: center;
    margin: 0 auto;
    padding: var(--title-padding);
    font-family: 'Times New Roman', Times, serif;
    font-size: var(--font-subtitle);
    color: var(--dark-color);
    position: absolute;
    top: 100;
    left: 30;
}
.overlay {
  background: #000;
  width: 100%;
  height: 100vh;
}
.light {
  position: absolute;
  width: 100%;
  height: 100%;
  background: #000;
}
/*------------------------------------FOOTER SECTION-------------------------------*/

footer {
width: 100%;
padding: 5rem;
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
}

.footer-items {
    gap: 20px;
    width: 100%;
    max-width: 800px;
    padding-bottom: 2rem;
    display: flex;
    justify-content: space-between;
}


.footer-foot {
    padding-top: 2rem;
    text-align: center;
    border-top: solid 1px var(--main-black);
}

.footer-link {
    text-decoration: none;
    color: var(--text-color);
    font-weight: 300;
}