
<footer>
<div class="footer-items">

<a href="#home" class="footer-link">Home</a>
<a href="#pricing-section" class="footer-link">Packages</a>

</div>
  <div class="footer-foot">
        <p>Made by <a href=""><strong> &copy; Vanilla Bean Websites</strong></a></p>
    </div>

</footer>