  <header>
            <nav>
        <!--CHECKBOX for responsive hamburger menu-->
        <input type="checkbox" id="sidebar-active">
        <label for="sidebar-active" class="open-sidebar-button"><svg class="exit-svg" xmlns="http://www.w3.org/2000/svg" height="32" viewBox="0 -960 960 960" width="24px" fill="#e8eaed"><path d="M120-240v-80h720v80H120Zm0-200v-80h720v80H120Zm0-200v-80h720v80H120Z"/></svg></label>
   <label id="overlay" for="sidebar-active"></label> <!--Works in opposition to the checkbox, when users click the overlay, it deactives the checkbox-->
        
   <div class="links-container">
    <label for="sidebar-active" class="close-sidebar-button">
        <!--FIND more icons at google fonts- open files with text editor-->
        <svg class="burger-svg" xmlns="http://www.w3.org/2000/svg" height="32" viewBox="0 -960 960 960" width="24px" fill="#e8eaed"><path d="m256-200-56-56 224-224-224-224 56-56 224 224 224-224 56 56-224 224 224 224-56 56-224-224-224 224Z"/></svg>
    </label>

    <a href="#pricing-section" class="ltspacing">PRICING</a>
    <!--<p class="logo">SD Strippers</p>-->
    <img class="stripper-logo" src="assets/icons/stripper-logo.png" height="100px" alt="stripper source logo"></img>
    <a href="#contact-section"  class="ltspacing">CONTACT</a>
   </div>
   
    </nav>
<img class="logo-mobile" src="assets/icons/stripper-logo.png" height="100px" alt="stripper source mobile logo"></img>
    </header>
